h1{
    font-family: fantasy; 
    color: #B6BEE8;
    text-align: center;
}
body{background-color: #536ADE;
    padding: 20px;
}
a {
    color: #B6BEE8;
    
}
p { color: white;
    font-family: fantasy;
    text-align: justify;
    margin-top: 30px;
}
li {
    display: inline;
    margin-left: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    
}
